<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Escapeling</h2>
        <p>Escape the rooms by using English with your team<br /> Can you make it out in time?</p>
        <iframe width="384" height="216" src="https://www.youtube.com/embed/o8NBsuO9er8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ul class="actions">
            <li><a href="https://telegram.me/Escapeling_Bot" class="button special">Get the bot</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">About the project</a>
</section>
