<!-- Five -->
<section id="five" class="wrapper alt style2">

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic06.jpg" alt=""></div>
        <div class="content">
            <h2><a href="https://alluos.github.io/2021/02/03/adaptive.html" class="link">Adaptive module</a></h2>
            <p>Find out how the difficulty of our tasks is adapted to individual learners' language skills.</p>
        </div>
    </section>

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic07.jpg" alt=""></div>
        <div class="content">
            <h2><a href="https://alluos.github.io/2021/02/02/achievements.html" class="link">Achievements</a></h2>
            <p>Find out how we implemented unlockable achievements to motivate users to keep learning.</p>
        </div>
    </section>

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic08.jpg" alt=""></div>
        <div class="content">
            <h2><a href="https://alluos.github.io/2021/02/01/GEC.html" class="link">Grammatical error correction</a></h2>
            <p>Explore our NLP-powered grammatical error correction feature.</p>
        </div>
    </section>

</section>
