<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Features</h2>
            <!-- <p>Sample feature overview.</p> -->
        </header>
        <ul class="features">
            <!-- <a href=""> -->
                <!-- <li class="fab fa-telegram"> -->
                    <!-- <h3>Telegram Integration</h3> -->
                    <!-- <p>The bot is integrated with Telegram messenger for easy access.</p> -->
                <!-- </li> -->
            <!-- </a> -->
            <a href="2020/04/03/achievements/">
                <!-- <li class="icon fa-language"> -->
                    <h3>Motivating Achievements</h3>
                    <p>[Placeholder achievements description]</p>
            <!-- </li> -->
            </a>
            <a href="2020/04/01/adaptive/">
                <!-- <li class="icon fa-code"> -->
                    <h3>Adaptive Difficulty</h3>
                    <p>[Placeholder adaptive module description]</p>
            <!-- </li> -->
            </a>
            <a href="2020/04/02/storytelling/">
                <!-- <li class="fas fa-user-friends"> -->
                    <h3>Immersive Storytelling</h3>
                    <p>[Placeholder storytelling description]</p>
            <!-- </li> -->
            </a>
        </ul>
    </div>
</section>
