<!-- Four -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Features</h2>
            <p>Learn more about specific application features.</p>
        </header>
    </div>
</section>

<section id="four" class="wrapper alt style2">

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic05.jpg" alt=""></div>
        <div class="content">
            <h2><a href="2021/02/04/learning-experience" class="link">Learning experience</a></h2>
            <p>Learn more about the learning experience granted by our application.</p>
        </div>
    </section>

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic09.jpg" alt=""></div>
        <div class="content">
            <h2><a href="2021/01/04/user-experience.html" class="link">User experience</a></h2>
            <p>Learn more about the user experience granted by our application.</p>
        </div>
    </section>

</section>
