<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Features and Information</h2>
            <p>Learn more about specific application features from the second semester of the project.</p>
        </header>
        <ul class="features">
            <a href="2020/04/04/testS2.html">
                <!-- <li class="fab fa-clipboard-check"> -->
                    <h3>User-Tested</h3>
                    <p>The app has been tested in small groups. Learn more about the approach and insights.</p>
                <!-- </li> -->
            </a>
            <a href="2020/04/03/achievements.html">
                <!-- <li class="fas fa-medal"> -->
                    <h3>Motivating Achievements</h3>
                    <p>Gamification and achievements track your progress over time</p>
                <!-- </li> -->
            </a>
            <a href="2020/04/01/adaptive.html">
                <!-- <li class="fas fa-user"> -->
                    <h3>Adaptive Difficulty</h3>
                    <p>Difficulty adapts to your performance, allowing you to focus on specific language skills</p>
                <!-- </li> -->
            </a>
            <a href="2020/04/02/storytelling.html">
                <!-- <li class="fas fa-book-open"> -->
                    <h3>Immersive Storytelling</h3>
                    <p>The app is set within an interesting sci-fi storyline</p>
                <!-- </li> -->
            </a>
        </ul>
    </div>
</section>
