<!-- Six -->
<section id="six" class="wrapper alt style2">

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic10.jpg" alt=""></div>
        <div class="content">
            <h2><a href="https://alluos.github.io/2021/01/03/storytelling.html" class="link">Storytelling</a></h2>
            <p>Explore our sci-fi themed escape room narrative.</p>
        </div>
    </section>

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic11.jpg" alt=""></div>
        <div class="content">
            <h2><a href="https://alluos.github.io/2021/01/02/visualizations.html" class="link">Visualizations</a></h2>
            <p>Learn more about the design and implementation of our application's visual elements.</p>
        </div>
    </section>

    <section class="spotlight">
        <div class="image"><img src="https://alluos.github.io//assets/images/pic12.jpg" alt=""></div>
        <div class="content">
            <h2><a href="https://alluos.github.io/2021/01/01/support.html" class="link">Support</a></h2>
            <p>Find out how users can ask for support while playing the game.</p>
        </div>
    </section>

</section>
