<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Mission tasks</h2>
            <p>Learn more about the different language practice tasks our application offers.</p>
        </header>
        <ul class="features">
            <a href="2021/03/04/vocabulary-guessing.html">
                <h3>Vocabulary guessing</h3>
                <p>To strengthen your vocabulary skills.</p>
            </a>
            <a href="2021/03/03/sentence-correction.html">
                <h3>Sentence correction</h3>
                <p>To test your grammatical knowledge.</p>
            </a>
            <a href="2021/03/02/discussion.html">
                <h3>Discussion</h3>
                <p>To practice your reading and writing skills.</p>
            </a>
            <a href="2021/03/01/listening.html">
                <h3>Listening</h3>
                <p>To practice your listening skills.</p>
            </a>
        </ul>
    </div>
</section>
